/*Google Fonts : Abril Fatface, Noto Sans KR*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans+KR:wght@300;400;600;700&display=swap');

/* Outward Block (Regular) */
@font-face {
  font-family: 'Outward';
  src: url('./fonts/outward-block-webfont.woff') format('woff');
}

/* Steps Mono */
@font-face {
  font-family: 'Steps Mono';
  src: url('./fonts/Steps-Mono.otf') format('opentype');
}

/* Le Murmure */
@font-face {
  font-family: 'Murmure';
  src: url('./fonts/LeMurmure-Regular.woff') format('woff');
}

/* Color Variables */
:root {
  --light: #FCFCFC;
  --dark: #1E1E1E;
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--dark);
}

h2, h3 {
  font-family: 'Murmure', 'Noto Sans KR', sans-serif;
  font-size: 32px;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--light);
}

.heading{
  font-size: 54px;
  text-align: center;
  margin: 0 0 50px;
}